body{
    
    font-family: Roboto;
    margin: 0;
    padding: 0;
}



/*Header Section Start*/
.header_section{
    width: auto;
    height: auto;
    background: #e5547331;
    display: block;
    margin: 0;
    position: center;
    margin-bottom: 30px;
}
.all_header_section{
    width: auto;
    display: inline;  
}
.header_text_button{
    padding: 150px 0px 0px 110px;
    display: block;
    width: 600px;
}
.header_text_button h1{
    margin: 0;
    font-size: 50px;
}
.header_text_button p{
    padding: 10px 0 ;    
}
.header_text_button button{
    color: white;
    border: none;
    background: #E55473;
    padding:12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.header_img{
    margin-left: 52%;
    margin-top: -30%;
    width: 570px;
}

/*Header Section End*/


/*Our Featured Section Start*/
.our_featured_flower{
    padding-top: 50px;
    padding-bottom: 100px;
    
}
.our_featured_text{
    text-align: center;
}
.our_featured_text p{
    color: rgba(0, 0, 0, 0.469);
}
.our_featured_text h1{
    font-size: 30px;
    padding-bottom: 15px;
}
.first_img{
    width: 410px;
    height: 498px;
    background: #a721624e;
    border-radius: 300px 300px 0px 0px;
    position: relative;  
}
.first_flower_img{
    margin-top: 70px;
    margin-left: 55px;
}
.first_img h3{
    text-align: center;
}

.second_img{
    width: 410px;
    height: 498px;
    background: #0598a04c;
    border-radius: 300px 300px 0px 0px;
    position: relative;
    margin-left: 10px;
    
}
.second_img h3{
    text-align: center;
}
.second_flower_img{
    margin-top: 125px;
    margin-left: 65px;
}
.third_img{
    width: 410px;
    height: 498px;
    background: #477d1154;
    border-radius: 300px 300px 0px 0px;
    position: relative;
    margin-left: 10px;   
}
.third_img h3{
    text-align: center;
}
.third_flower_img{
    margin-top: 28px;
    margin-left: 65px;
}
.featured_img{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    padding: 40px;
    padding-bottom: 200px;  
}
.support{
    width: 1024px;
    height: 320px;
    background: #dfdfdf;
    position: center;
    padding-left: 80px;
    margin: auto;
    border-radius: 10px;
}
.delivery_system{
    display: inline;
    justify-content: center;
    float: left;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 100px;
}
.delivery_system img{
    padding-left: 80px;
}
.fresh_flower_system{
    display: inline;
    justify-content: center;
    float: left;
    flex-wrap: wrap;
    position: relative;
    padding: 50px;
    padding-top: 100px;
}
.fresh_flower_system img{
    padding-left: 80px;
}
.support_system{
    display: flexbox;
    float: left;
    flex-wrap: wrap;
    position: relative;
    padding: 50px;
    padding-top: 100px;
    
}
.support_system img{
    padding-left: 20px;
}

/*Our Featured Section End*/

/*Offer Section Start*/
.offer_section{
    background: #e5547331;
    margin-bottom: 50px;
    display: flex;
    
}
.hot_deal{
    height: 400px;
    padding-top: 150px;
    display: flexbox;
    flex-wrap: wrap;
    
}
.hot_deal_pro{
    text-align: center;
    width: 1000px;
    float: left;
    
}
.hot_deal_pro p{
    color: rgba(0, 0, 0, 0.408);
}
.fiften{
    color: #E55473;
}
.singin_button{
    color: white;
    border: none;
    background: #E55473;
    padding:12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.singin_button:hover{
    background-color: black;
    color: #E55473;
    animation-duration: 1s;
}
.offer_flower_img{
    float: right;
    padding-top: 100px;
}

/*Offer Section End*/

/*Instragram Section Start*/
.instragram_section{
    padding-top: 30px;
    padding-bottom: 70px;
}
.text_ins{
    text-align: center;
}
.text_ins p{
    color: rgba(0, 0, 0, 0.575);
    padding-bottom: 20px;
}
.ins_img{
    width: 300px;
    padding-left: 10px;
}
.ins_img_all{
    align-items: center;
    padding-left: 50px;
}

/*Instragram Section Ends*/





.subscribe_section img{
    display: block;
    margin: auto;
    position: relative;
    width: 1024px;
    height: auto;
    padding-bottom: 50px;
}
.subscribe_section h1{
    text-align: center;
}
.button{
    color: white;
    border: none;
    background: #E55473;
    padding:12px 24px;
    position: absolute;
    right: 20%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: -250px;

}
.button:hover{
    background-color: black;
    color: #E55473;
    animation-duration: 1s;
}
.subscribe_section input{
    position: absolute;
    left: 35%;
    padding:12px 24px;
    border: none;
    background: bisque;
    border-radius: 5px;
    width: 400px;
    margin-top: -250px;
}
.input_button{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}













/*Fotter Section CSS Start*/
.fotter-section{
    text-align: center;
    background-color: black;
    height: 300px;
    

}
.fotter-section h1{
    color: rgb(246, 78, 78);
    padding: 30px ;
    padding-top: 50px;
}
.fotter-section p{
    color: white;
    padding: 6px;
    font-size: 13px;
}
.fotter-section h4{
    color:rgb(69, 69, 69);
    padding: 30px;
    font-size: 14px;
}
/*Fotter Section CSS End*/