body{
    
    font-family: Roboto;
    margin: 0;
    padding: 0;
}



/*Header Section Start*/
.header_section{
    width: auto;
    height: auto;
    background: #e5547331;
    display: block;
    margin: 0;
    position: center;
    margin-bottom: 30px;
}
.all_header_section{
    width: auto;
    display: inline;  
}
.header_text_button{
    padding: 150px 0px 0px 110px;
    display: block;
    width: 600px;
}
.header_text_button h1{
    margin: 0;
    font-size: 50px;
}
.header_text_button p{
    padding: 10px 0 ;    
}
.header_text_button button{
    color: white;
    border: none;
    background: #E55473;
    padding:12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.header_img{
    margin-left: 52%;
    margin-top: -30%;
    width: 570px;
}

/*Header Section End*/


/*Our Featured Section Start*/
.our_featured_flower{
    padding-top: 50px;
    
}
.our_featured_text{
    text-align: center;
}
.our_featured_text h1{
    font-size: 30px;
    padding-bottom: 15px;
}
.first_img{
    width: 410px;
    height: 498px;
    background: #a721624e;
    border-radius: 300px 300px 0px 0px;
    position: relative;  
}
.first_flower_img{
    margin-top: 70px;
    margin-left: 55px;
}
.first_img h3{
    text-align: center;
}

.second_img{
    width: 410px;
    height: 498px;
    background: #0598a04c;
    border-radius: 300px 300px 0px 0px;
    position: relative;
    margin-left: 10px;
    
}
.second_img h3{
    text-align: center;
}
.second_flower_img{
    margin-top: 125px;
    margin-left: 65px;
}
.third_img{
    width: 410px;
    height: 498px;
    background: #477d1154;
    border-radius: 300px 300px 0px 0px;
    position: relative;
    margin-left: 10px;   
}
.third_img h3{
    text-align: center;
}
.third_flower_img{
    margin-top: 28px;
    margin-left: 65px;
}
.featured_img{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    padding: 40px;
    padding-bottom: 200px;
    
    
    
}

/*Our Featured Section End*/
.subscribe_section img{
    display: block;
    margin: auto;
    position: relative;
    width: 1024px;
    height: auto;
    padding-bottom: 50px;
}
.subscribe_section h1{
    text-align: center;
}
.subscribe_section button{
    color: white;
    border: none;
    background: #E55473;
    padding:12px 24px;
    position: absolute;
    right: 20%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: -250px;

}
.subscribe_section input{
    position: absolute;
    left: 35%;
    padding:12px 24px;
    border: none;
    background: bisque;
    border-radius: 5px;
    width: 400px;
    margin-top: -250px;
}
.input_button{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}













/*Fotter Section CSS Start*/
.fotter-section{
    text-align: center;
    background-color: black;
    height: 300px;
    

}
.fotter-section h1{
    color: rgb(246, 78, 78);
    padding: 30px ;
    padding-top: 50px;
}
.fotter-section p{
    color: white;
    padding: 6px;
    font-size: 13px;
}
.fotter-section h4{
    color:rgb(69, 69, 69);
    padding: 30px;
    font-size: 14px;
}
/*Fotter Section CSS End*/